{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4" style="flex-grow: 1;">
        <div class="mt-5 d-flex justify-content-between align-items-center">
            <h1 class="m-0">Products</h1>
            <a class="btn btn-primary justify-content-right" href="{{ path('app_information') }}" role="button">Information</a>
        </div>
        <div class="table-container mt-2 p-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th{% if pagination.isSorted('p.id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                    <th{% if pagination.isSorted('p.code') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Code', 'p.code') }}</th>
                    <th{% if pagination.isSorted('p.name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Name', 'p.name') }}</th>
                    <th{% if pagination.isSorted('p.type') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type', 'p.type') }}</th>
                    <th{% if pagination.isSorted('p.price') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Price', 'p.price') }}</th>
                    <th{% if pagination.isSorted('p.createdAt') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'CreatedAt', 'p.createdAt') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in pagination %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.code }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.type.value }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.createdAt|date('Y-m-d H:i:s') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
