{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4" style="flex-grow: 1;">
        <div class="mt-5 d-flex justify-content-between align-items-center">
            <h1 class="m-0">Information</h1>
            <a class="btn btn-default justify-content-right" href="{{ path('app_homepage') }}" role="button">Home</a>
        </div>
        <div class="table-container mt-2 p-3">
            <table class="table">
                <tbody>
                {% for codeType in codeTypes %}
                    <tr class="table-secondary">
                        <th>Code {{ codeType.code }}</th>
                        <th></th>
                        <th>{{ codeType.countPerCode }} items (Total)</th>
                        <th>{{ codeType.pricePerCode }} grn (Total)</th>
                    </tr>
                    {% for type in codeType.types %}
                        <tr>
                            <td></td>
                            <td>{{ type.type.value }}</td>
                            <td>{{ type.countPerCodeType }} items</td>
                            <td>{{ type.pricePerCodeType }} grn</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
