body {
    background: hsl(188, 54%, 76%);
    background: linear-gradient(45deg, hsl(188, 31%, 72%) 0%, hsl(250, 64%, 82%) 100%);
    background: -moz-linear-gradient(45deg, hsl(188, 31%, 72%) 0%, hsl(250, 63%, 82%) 100%);
    background: -webkit-linear-gradient(45deg, hsl(188, 31%, 72%) 0%, hsl(250, 63%, 82%) 100%);
    min-height: 100vh;
    display: flex; 
    flex-direction: column;
}

.table-container {
    background-color: rgba(255, 255, 255, .8);
    border-radius: 12px;
}

.search-reset {
    position: absolute;
    right: 10px;
}