<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Products{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('styles/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body>
{% block body %}{% endblock %}
<footer class="mt-5 p-3 text-center">
    Made by Kateryna Barylo
</footer>

</body>
</html>
